<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <form [formGroup]="airlineForm">
            Id: <input type="number" name="" id="" [ngClass]="{'form-control':true,'is-invalid':c.id.touched && !c.id.valid}" formControlName="id" >
            Name: <input type="text" name="" id="" [ngClass]="{'form-control':true,'is-invalid':airlineForm.controls.name.touched && !airlineForm.controls['name'].valid}" formControlName="name"><span *ngIf="airlineForm.controls.name.touched && !airlineForm.controls.name.valid" class="alert-danger">                Name is mandatory</span>
<br>            Country: <input type="text" name="" id="" class="form-control" formControlName="country">
            Logo: <input type="text" name="" id="" class="form-control" formControlName="logo">
            Slogan: <input type="text" name="" id="" class="form-control" formControlName="slogan">
            Head Quaters: <input type="text" name="" id="" class="form-control" formControlName="head_quaters">
            Website: <input type="text" name="" id="" class="form-control" formControlName="website">
            Established: <input type="number" name="" id="" class="form-control" formControlName="established">
            <br>
            <input type="button" value="Add" [ngClass]="{'btn':true,'btn-success':true,'disabled':!airlineForm.valid}" (click)="fnAdd()">
        </form>
         <br>
        {{airlineForm.controls.id.valid}}
        <br>
        {{ airlineForm.value | json }}
    </div>
    <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-sm-3">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Logo</th>
                    <th>Slogan</th>
                    <th>Head Quaters</th>
                    <th>Website</th>
                    <th>Established</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of airlines">
                    <td>{{a.id}}</td>
                    <td>{{a.name}}</td>
                    <td>{{a.country}}</td>
                    <td>
                        <img [src]="a.logo" alt="" width="100">
                    </td>
                    <td>{{a.slogan}}</td>
                    <td>{{a.head_quaters}}</td>
                    <td>{{a.website}}</td>
                    <td>{{a.established}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>