<app-nav></app-nav>
<span class="content">{{title}} app is running!</span>
<div class="container-fluid bg-dark text-light p-4">
  <div class="container bg-dark p-4">
      <h1 class="display-4">Welcome to my Website</h1>
      <hr>
      <p>Go to My Website</p>
      <a href="#" class="btn btn-primary">link</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    
  </div>
  <div class="col-md-8">
    <!-- <app-product></app-product> -->
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">..
    <router-outlet name="jag"></router-outlet>
    
  </div>
</div>