<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Food Project</h1>
  <p>Backend is Spring boot REST api!</p> 
</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
        <app-food></app-food>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>    
    <div class="col-sm-8">
      <app-food-grid></app-food-grid>
    </div>    
    <div class="col-sm-2"></div>    
  </div>
</div>
