
<p>Welcome {{user.name | titlecase}}. You are privileged {{user.role}}</p>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Id" (click)="fnSort('id')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Name                       " (click)="fnSort('name')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Description                       " (click)="fnSort('description')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Price" (click)="fnSort('price')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Category" (click)="fnSort('category')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Keywords                                         " (click)="fnSort('keywords')"></th>
        <th><input [ngClass]="{'btn btn-secondary':toggle}" type="button" value="Merchant" (click)="fnSort('user')"></th>
    </thead>
    <tbody>
        <tr *ngFor="let p of view;index as i">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{p.price}}</td>
            <td>{{p.category}}</td>
            <td>{{p.keywords}}</td>
            <td>{{p.user.name}}</td>
            <td>
                <input type="button" class="btn btn-info" value="Add to Cart" (click)="fnAddToCart(p.id)" >
            </td>
        </tr>
    </tbody>
</table>
<input *ngFor="let i of arr" type="button" [value]="i" class="btn btn-link" (click)="fnShowPage(i)" />

<br>